<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_bodyburn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IHM_GestorEjercicio"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivityMenu"
            android:exported="false" />
        <activity
            android:name=".SisMetrico"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".Idioma"
            android:exported="false" />
        <activity
            android:name=".Error"
            android:exported="false" />
        <activity
            android:name=".DatosISesion"
            android:exported="false" />
        <activity
            android:name=".Configuracion"
            android:exported="false" />
        <activity
            android:name=".Perfil_editar_foto"
            android:exported="false" />
        <activity
            android:name=".RutinaDiaEditar"
            android:exported="false" />
        <activity
            android:name=".BuscarEjerciciosActivity"
            android:exported="false" />
        <activity
            android:name=".RutinaEjercicioDetalle"
            android:exported="false" />
        <activity
            android:name=".RutinaDiaDetalle"
            android:exported="false" />
        <activity
            android:name=".RutinasDetalle"
            android:exported="false" />
        <activity
            android:name=".chatPro"
            android:exported="false" />
        <activity
            android:name=".RegistroDatos"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialActivityDetalleDia"
            android:exported="false" />
        <activity
            android:name=".PremiumActivity"
            android:exported="false" />
        <activity
            android:name=".CrearCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:label="@string/btn_perfil" />
        <activity
            android:name=".Rutinas"
            android:exported="false"
            android:label="@string/btn_rutinas" />
        <activity
            android:name=".HistorialActivity"
            android:exported="false"
            android:label="@string/btn_historial" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/btn_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>